*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(mom.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
     width: 0;
     height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    margin: auto;
   
    transition:0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform:translateY(-50%);
    text-align: center;
    color: rgb(255, 255, 255);   
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}