*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#hero{
 width: 100%;
 height: 100vh;
 background-image: url(bg1.png);
 background-size: cover;
 background-position: center;
 position: relative;
}
.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}
.navbar .logo{
    width: 60px;
    margin: 30px 0;
    cursor: pointer;
    

}
.user{
    display: flex;
    align-items: center;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fca430;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
    

}
span{
    background: #fca430;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    
}
button:hover span{
    width: 100%;
}
button:hover{
    border: 100%;
}
.container{
    width: 60%;
    height: 100vh;
    background: rgba(86,86,86,0.3);
    backdrop-filter: blur(1px);
    position: absolute;
    left: 0;
    top: 0;
}
.info{
    width: 550px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50);
}
.info h1{
    width: 0;
    font-size: 25;
    letter-spacing: 10px;

}
.info p{
    color: #f0eef1;
    font-size: 11px;
    margin: 20px 0;
    line-height: 18px;

}
.info input{
    width: 50%;
    padding: 8px 10px;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    background: transparent;
    color: #fff;
    font-size:12px;


}
::placeholder{
    color: #ccc;
}
.slider{
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom:-600px;
}
#prev, #next{
    width: 20px;
    cursor: pointer;
}
.preview{
    display: flex;
    align-items: center;
    margin: 0  60px;
}
.preview img{
    width: 60px;
    margin: 0 10px;
    opacity: 0.4;
}
.preview .active{
    display: block;
    border: 3px solid #fff;
    width: 100px;
    opacity: 1;
}